.Navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 50px;
  background-color: lavender;
  border-bottom: 2px solid gray;
}
.home {
  margin-left: 1rem;
}
.user {
  width: 50%;
}
