.Footer {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 25%;
  height: 300px;
  padding: 2rem 2rem 4rem;

  
  svg {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    transition: ease-in 100ms;
    &:hover {
      cursor: pointer;
      color: rgb(0, 102, 255);
    }
  }
  
  @media (min-width: 900px) {
    svg {
      font-size: 3rem;
    }
  }
}
